@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.9);
  height: 9rem;
  padding: 0 9rem;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999; }
  @media (max-width: 980px) {
    .header {
      height: 7rem;
      padding: 0 5rem; } }
  @media (max-width: 420px) {
    .header {
      padding: 0 3rem; } }
  .header__logo-img {
    display: block;
    width: 10rem;
    height: 100%; }
    @media (max-width: 580px) {
      .header__logo-img {
        width: 9rem; } }
  .header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    gap: 4rem; }
    @media (max-width: 800px) {
      .header__nav-list {
        gap: 2.4rem; } }
    @media (max-width: 700px) {
      .header__nav-list {
        flex-direction: column;
        gap: 4rem;
        background-color: whitesmoke;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 5rem 2rem 0rem;
        position: absolute;
        top: 0;
        right: 0;
        width: 70%;
        height: 60vh;
        z-index: 999;
        margin-top: 7rem;
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease-out; }
        .header__nav-list.nav-open {
          opacity: 1;
          visibility: visible; } }
  .header__nav-link:link,
  .header :visited {
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
    color: #411a1a; }
    @media (max-width: 980px) {
      .header__nav-link:link,
      .header :visited {
        font-size: 1.5rem; } }
    .header__nav-link:link:hover,
    .header__nav-link:link :active,
    .header :visited:hover,
    .header :visited :active {
      color: #9b1616; }
  .header__contact-us {
    background-color: #411a1a;
    color: #ffffff;
    border-radius: 0.8rem;
    padding: 1rem 2rem;
    z-index: 999; }
    .header__contact-us a {
      text-decoration: none; }
    .header__contact-us:hover {
      background-color: #553b3b; }
  .header__nav-btn {
    display: none; }
    .header__nav-btn [name="close-outline"] {
      display: none; }
    .header__nav-btn [name="menu-outline"] {
      display: block; }
    @media (max-width: 700px) {
      .header__nav-btn {
        display: block;
        position: relative;
        font-size: 4rem;
        color: #411a1a;
        background: none;
        border: none; }
        .header__nav-btn.nav-open [name="close-outline"] {
          display: block; }
        .header__nav-btn.nav-open [name="menu-outline"] {
          display: none; } }
    @media (max-width: 420px) {
      .header__nav-btn {
        font-size: 3.5rem; } }

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03); }

.container {
  max-width: 130rem;
  margin: auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem; }
  @media (max-width: 1430px) {
    .container {
      max-width: 120rem; } }
  @media (max-width: 580px) {
    .container {
      padding-left: 1.8rem;
      padding-right: 1.8rem; } }

.photo-main {
  overflow: scroll; }

.hero-section {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2); }
  .hero-section__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; }
  .hero-section__hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
    min-height: 90vh;
    padding-top: 7rem;
    padding-bottom: 7rem; }
    @media (max-width: 1430px) {
      .hero-section__hero-content {
        min-height: 80vh; } }
    @media (max-width: 995px) {
      .hero-section__hero-content {
        gap: 6.8rem; } }
    @media (max-width: 740px) {
      .hero-section__hero-content {
        grid-template-columns: 1fr;
        padding-top: 12rem; } }
    @media (max-width: 580px) {
      .hero-section__hero-content {
        gap: 4rem; } }
    @media (max-width: 410px) {
      .hero-section__hero-content {
        gap: 2.5rem; } }
  .hero-section__left-sec {
    color: #fff;
    font-size: 7rem;
    font-family: "Poppins", serif;
    font-weight: 700;
    text-transform: uppercase; }
    @media (max-width: 1315px) {
      .hero-section__left-sec {
        font-size: 5rem; } }
    @media (max-width: 995px) {
      .hero-section__left-sec {
        font-size: 4rem; } }
    @media (max-width: 740px) {
      .hero-section__left-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 5rem; } }
    @media (max-width: 580px) {
      .hero-section__left-sec {
        font-size: 3.5rem; } }
    @media (max-width: 410px) {
      .hero-section__left-sec {
        font-size: 2.8rem; } }
    @media (max-width: 390px) {
      .hero-section__left-sec {
        font-size: 2.5rem; } }
  .hero-section__right-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem; }
    @media (max-width: 580px) {
      .hero-section__right-sec {
        gap: 3.5rem; } }
  .hero-section__logo-icon {
    display: block;
    height: 35rem; }
    @media (max-width: 1315px) {
      .hero-section__logo-icon {
        height: 30rem; } }
    @media (max-width: 995px) {
      .hero-section__logo-icon {
        height: 25rem; } }
    @media (max-width: 410px) {
      .hero-section__logo-icon {
        height: 20rem; } }
  .hero-section__big-logo {
    display: block;
    height: 17rem; }
    @media (max-width: 1315px) {
      .hero-section__big-logo {
        height: 15rem; } }
    @media (max-width: 995px) {
      .hero-section__big-logo {
        height: 10rem; } }

.photo-about {
  padding-top: 2rem;
  padding-bottom: 6.4rem; }
  @media (max-width: 580px) {
    .photo-about {
      padding-bottom: 3.5rem; } }
  .photo-about__text {
    color: #1f1f1f;
    font-size: 2.8rem;
    padding-top: 4rem;
    line-height: 1.5;
    text-align: justify; }
    @media (max-width: 995px) {
      .photo-about__text {
        font-size: 2.4rem; } }
    @media (max-width: 790px) {
      .photo-about__text {
        font-size: 1.8rem;
        padding-top: 2.5rem; } }
    @media (max-width: 450px) {
      .photo-about__text {
        font-size: 1.5rem;
        padding-top: 1.8rem; } }
  .photo-about__logo-img {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end; }
    .photo-about__logo-img img {
      display: block;
      height: 10rem; }
      @media (max-width: 995px) {
        .photo-about__logo-img img {
          height: 8rem; } }
      @media (max-width: 790px) {
        .photo-about__logo-img img {
          height: 6rem; } }

.photo-vision {
  position: relative; }
  .photo-vision::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    content: "";
    display: block;
    z-index: -1; }
  .photo-vision__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; }
  .photo-vision__heading-text {
    color: #ffffff;
    background-color: #411a1a;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: left;
    padding: 4.8rem 0rem 4.8rem 6.4rem; }
  .photo-vision__body-text {
    color: #e2dddd;
    padding-top: 4.8rem;
    padding-bottom: 6rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
    @media (max-width: 790px) {
      .photo-vision__body-text {
        padding-top: 3rem; } }
    @media (max-width: 580px) {
      .photo-vision__body-text {
        padding-bottom: 4rem; } }
    @media (max-width: 450px) {
      .photo-vision__body-text {
        padding-bottom: 3rem; } }
    @media (max-width: 450px) {
      .photo-vision__body-text {
        padding-top: 2rem;
        gap: 1rem; } }
    .photo-vision__body-text p {
      font-size: 3rem;
      text-align: center; }
      @media (max-width: 995px) {
        .photo-vision__body-text p {
          font-size: 2.4rem; } }
      @media (max-width: 790px) {
        .photo-vision__body-text p {
          font-size: 1.8rem; } }
      @media (max-width: 450px) {
        .photo-vision__body-text p {
          font-size: 1.6rem; } }

.photo-events {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column; }
  @media (max-width: 995px) {
    .photo-events {
      padding-top: 2.4rem;
      padding-bottom: 2.4rem; } }
  .photo-events__event-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; }
    @media (max-width: 580px) {
      .photo-events__event-imgs {
        gap: 6px; } }
    .photo-events__event-imgs img {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.3s; }
    .photo-events__event-imgs img:hover {
      transform: scale(1.1); }
  .photo-events__event-img {
    overflow: hidden; }
  .photo-events__event-flier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding-top: 1rem; }
    .photo-events__event-flier img {
      display: block;
      width: 100%;
      height: 100%; }
  .photo-events__heading {
    font-size: 4rem;
    font-family: "Poppins", serif;
    text-transform: uppercase; }
    @media (max-width: 995px) {
      .photo-events__heading {
        font-size: 2.6rem; } }
    @media (max-width: 580px) {
      .photo-events__heading {
        font-size: 2rem; } }
  .photo-events__sub-heading {
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (max-width: 690px) {
      .photo-events__sub-heading {
        font-size: 1.8rem; } }
    @media (max-width: 450px) {
      .photo-events__sub-heading {
        font-size: 1.6rem; } }

.photo-announce {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: whitesmoke; }
  .photo-announce__body {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; }
    @media (max-width: 690px) {
      .photo-announce__body {
        grid-template-columns: 1fr;
        padding: 2rem 1rem; } }
    @media (max-width: 580px) {
      .photo-announce__body {
        padding: 2rem 0rem; } }
  .photo-announce__img img {
    display: block;
    width: 100%;
    border-radius: 6px; }
  .photo-announce__announce-text {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .photo-announce__announce-text h2 {
      font-size: 2.4rem; }
      @media (max-width: 680px) {
        .photo-announce__announce-text h2 {
          font-size: 1.7rem; } }
    .photo-announce__announce-text p {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;
      padding-top: 2rem; }
      @media (max-width: 995px) {
        .photo-announce__announce-text p {
          font-size: 1.6rem; } }
      @media (max-width: 865px) {
        .photo-announce__announce-text p {
          line-height: 1.2;
          padding-top: 1rem; } }
      @media (max-width: 790px) {
        .photo-announce__announce-text p {
          font-size: 1.5rem;
          font-weight: 500; } }

.photo-founder {
  padding: 2.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem; }
  @media (max-width: 690px) {
    .photo-founder {
      padding: 2.4rem 1rem; } }
  @media (max-width: 580px) {
    .photo-founder {
      padding: 2rem 0rem; } }
  .photo-founder::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
    content: "";
    display: block;
    z-index: -1; }
  .photo-founder__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; }
  .photo-founder__founder-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem; }
    @media (max-width: 690px) {
      .photo-founder__founder-details {
        grid-template-columns: 1fr;
        gap: 3rem; } }
  .photo-founder__founder-img {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .photo-founder__founder-img h1 {
      color: #ffffff;
      font-size: 4.8rem; }
      @media (max-width: 1235px) {
        .photo-founder__founder-img h1 {
          font-size: 4rem; } }
      @media (max-width: 980px) {
        .photo-founder__founder-img h1 {
          font-size: 3.5rem; } }
      @media (max-width: 790px) {
        .photo-founder__founder-img h1 {
          font-size: 2.8rem; } }
    .photo-founder__founder-img img {
      display: block;
      width: 100%;
      border-radius: 0.8rem; }
  .photo-founder__founder-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .photo-founder__founder-info p {
      font-size: 2.8rem;
      font-weight: 500;
      color: #ffffff;
      line-height: 2; }
      @media (max-width: 1235px) {
        .photo-founder__founder-info p {
          font-size: 2.4rem;
          line-height: 1.7; } }
      @media (max-width: 980px) {
        .photo-founder__founder-info p {
          font-size: 2rem; } }
      @media (max-width: 830px) {
        .photo-founder__founder-info p {
          font-size: 1.8rem; } }
      @media (max-width: 790px) {
        .photo-founder__founder-info p {
          font-size: 1.7rem; } }
  .photo-founder__reps {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
    .photo-founder__reps h4 {
      font-size: 3rem;
      color: #ffffff; }
      @media (max-width: 500px) {
        .photo-founder__reps h4 {
          font-size: 2rem; } }
  .photo-founder__photo-reps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem; }
    @media (max-width: 875px) {
      .photo-founder__photo-reps {
        grid-template-columns: 1fr;
        gap: 3rem; } }
    @media (max-width: 550px) {
      .photo-founder__photo-reps {
        gap: 2.5rem; } }
  .photo-founder__rep-details {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
    @media (max-width: 550px) {
      .photo-founder__rep-details {
        gap: 1rem; } }
    .photo-founder__rep-details img {
      display: block;
      width: 100%;
      border-radius: 0.8rem; }
  .photo-founder__rep-img {
    display: block; }
  .photo-founder__reps-name {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 0.8rem; }
    @media (max-width: 550px) {
      .photo-founder__reps-name {
        gap: 5px; } }
    .photo-founder__reps-name p {
      font-size: 2.5rem;
      font-weight: 600; }
      @media (max-width: 455px) {
        .photo-founder__reps-name p {
          font-size: 2rem; } }
    @media (max-width: 900px) {
      .photo-founder__reps-name span {
        font-weight: 1rem; } }

.photo-support {
  background-color: whitesmoke;
  padding-top: 6rem;
  padding-bottom: 6rem; }
  @media (max-width: 790px) {
    .photo-support {
      padding-top: 4rem; } }
  .photo-support__support-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem; }
    @media (max-width: 690px) {
      .photo-support__support-body {
        grid-template-columns: 1fr;
        gap: 3rem; } }
    .photo-support__support-body a {
      text-decoration: none;
      list-style: none; }
  .photo-support__support-details {
    display: flex;
    flex-direction: column;
    gap: 4rem; }
    @media (max-width: 790px) {
      .photo-support__support-details {
        gap: 2.4rem; } }
  .photo-support__heading {
    font-size: 3rem;
    font-family: "Poppins", serif;
    background-color: #411a1a;
    color: #ffffff;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    padding: 1rem 0rem;
    text-align: center; }
    @media (max-width: 990px) {
      .photo-support__heading {
        font-size: 2.4rem; } }
    @media (max-width: 790px) {
      .photo-support__heading {
        font-size: 1.9rem;
        padding: 0.8rem 0rem; } }
  .photo-support__support-steps {
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    @media (max-width: 790px) {
      .photo-support__support-steps {
        gap: 1.5rem; } }
  .photo-support__support-types {
    display: flex;
    align-items: center;
    gap: 2rem; }
    @media (max-width: 790px) {
      .photo-support__support-types {
        gap: 1.7rem; } }
    .photo-support__support-types p {
      font-size: 1.8rem;
      color: #411a1a; }
      @media (max-width: 990px) {
        .photo-support__support-types p {
          font-size: 1.6rem; } }
  .photo-support__support-icon {
    display: block;
    width: 4rem;
    height: 4rem;
    color: #411a1a; }
    @media (max-width: 790px) {
      .photo-support__support-icon {
        width: 3rem; } }

.basic-needs {
  background-color: #411a1a;
  color: #fff;
  border-radius: 10px;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  @media (max-width: 1195px) {
    .basic-needs {
      padding: 3.5rem; } }
  @media (max-width: 690px) {
    .basic-needs {
      padding: 2.5rem; } }
  .basic-needs__needs-list ul {
    font-size: 1.8rem;
    list-style: none;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem; }
    @media (max-width: 1195px) {
      .basic-needs__needs-list ul {
        font-size: 1.6rem; } }
    @media (max-width: 990px) {
      .basic-needs__needs-list ul {
        grid-template-columns: 1fr; } }
  .basic-needs__needs-text {
    font-size: 1.8rem;
    background-color: #ffffff;
    color: #411a1a;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    text-align: center;
    padding: 1rem;
    width: 20rem; }

.photo-contact {
  padding-top: 6rem;
  display: flex;
  justify-content: center; }
  @media (max-width: 690px) {
    .photo-contact {
      padding-top: 4rem; } }
  .photo-contact a {
    text-decoration: none;
    list-style: none; }
  .photo-contact__contact-text {
    font-size: 2rem;
    font-family: "poppins" serif;
    background-color: #411a1a;
    color: #ffffff;
    border-radius: 1rem;
    cursor: pointer;
    padding: 2rem 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 25rem; }
    @media (max-width: 790px) {
      .photo-contact__contact-text {
        font-size: 1.7rem;
        padding: 1rem 3rem;
        width: 20rem; } }
    .photo-contact__contact-text:hover {
      background-color: #553838; }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem; }
  @media (max-width: 430px) {
    .footer {
      flex-direction: column;
      gap: 1rem; } }
  .footer p {
    font-size: 1.8rem;
    color: #411a1a;
    justify-content: center;
    text-align: center; }
    @media (max-width: 660px) {
      .footer p {
        font-size: 1.4rem; } }
  .footer__photo-handles {
    display: flex;
    align-items: center;
    gap: 1.5rem; }
    @media (max-width: 580px) {
      .footer__photo-handles {
        gap: 1.2rem; } }
  .footer__text {
    font-size: 1.8rem;
    color: #411a1a;
    text-align: center; }
    @media (max-width: 660px) {
      .footer__text {
        font-size: 1.4rem; } }
    @media (max-width: 370px) {
      .footer__text {
        line-break: loose; } }
  .footer__handles-icon {
    display: block;
    font-size: 1.6rem;
    background-color: #411a1a;
    color: #ffffff;
    border-radius: 0.8rem;
    padding: 0.8rem; }
    @media (max-width: 580px) {
      .footer__handles-icon {
        padding: 6px; } }

.contact-us__back-arrow {
  background-color: #411a1a;
  color: #ffffff; }
  .contact-us__back-arrow a {
    display: flex;
    align-items: center;
    gap: 2rem;
    text-decoration: none;
    padding: 2rem 9rem; }
    @media (max-width: 560px) {
      .contact-us__back-arrow a {
        padding: 1.6rem 3rem; } }
  .contact-us__back-arrow p {
    font-size: 1.8rem;
    color: #fff; }
  .contact-us__back-arrow svg {
    display: block;
    color: #ffffff; }

.contact-us__body {
  position: relative;
  overflow: hidden; }
  .contact-us__body::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    content: "";
    display: block;
    z-index: -1; }

.contact-us__contact-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: center;
  height: 100vh; }
  @media (max-width: 1055px) {
    .contact-us__contact-details {
      gap: 4rem; } }
  @media (max-width: 830px) {
    .contact-us__contact-details {
      display: flex;
      flex-direction: column;
      justify-content: center; } }

.contact-us__contact-info {
  display: flex;
  flex-direction: column;
  gap: 2.4rem; }
  .contact-us__contact-info p {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: capitalize;
    color: #ffffff; }
    @media (max-width: 980px) {
      .contact-us__contact-info p {
        font-size: 2rem; } }
    @media (max-width: 410px) {
      .contact-us__contact-info p {
        width: 100%; } }

.contact-us__heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "poppins" serif;
  color: #ffffff; }
  .contact-us__heading h2 {
    font-size: 4.8rem; }
    @media (max-width: 980px) {
      .contact-us__heading h2 {
        font-size: 4rem; } }
    @media (max-width: 450px) {
      .contact-us__heading h2 {
        font-size: 2.4rem; } }
  .contact-us__heading span {
    font-size: 2rem; }
    @media (max-width: 980px) {
      .contact-us__heading span {
        font-size: 1.8rem; } }
    @media (max-width: 450px) {
      .contact-us__heading span {
        font-size: 1.4rem; } }

.contact-us__contact-links {
  line-height: 2; }

.contact-us__link-contact {
  display: flex;
  align-items: center;
  gap: 1rem; }
  @media (max-width: 410px) {
    .contact-us__link-contact {
      display: block; } }
  .contact-us__link-contact p {
    font-size: 2rem;
    color: #411a1a;
    font-weight: 600; }
    @media (max-width: 980px) {
      .contact-us__link-contact p {
        font-size: 1.7rem; } }
    @media (max-width: 450px) {
      .contact-us__link-contact p {
        font-size: 1.6rem; } }
  .contact-us__link-contact a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600; }
    @media (max-width: 450px) {
      .contact-us__link-contact a {
        font-size: 1.6rem; } }

.contact-us__contact-img img {
  display: block;
  height: 100%;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Lato", sans-serif; }

.heading {
  font-size: 6.4rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #411a1a;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  text-align: left;
  padding: 4rem 0rem 2.4rem 6.4rem; }
  @media (max-width: 1315px) {
    .heading {
      font-size: 4.8rem;
      padding: 3rem 0 2rem 6rem; } }
  @media (max-width: 995px) {
    .heading {
      font-size: 3.5rem;
      padding: 2rem 0 2rem 3rem; } }
  @media (max-width: 600px) {
    .heading {
      font-size: 2rem;
      padding: 1.5rem 0 1.5rem 1.5rem; } }
  @media (max-width: 790px) {
    .heading {
      font-size: 1.9rem;
      padding: 1.2rem 0 1.2rem 1rem; } }

/*# sourceMappingURL=style.css.map */