@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header {
  display: flex;
  align-items: center;
  position: fixed; }
  .header__logo-img {
    height: 10rem; }

.container {
  max-width: 130rem;
  margin: auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem; }

.hero-section {
  position: relative; }
  .hero-section__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; }
  .hero-section__hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh; }
  .hero-section__left-sec {
    color: #fff;
    font-size: 6.4rem;
    font-family: "Poppins", serif;
    font-weight: 700;
    text-transform: uppercase; }
  .hero-section__right-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem; }
  .hero-section__logo-icon {
    height: 35rem; }
  .hero-section__big-logo {
    height: 17rem; }

.photo-about {
  padding-top: 2rem;
  padding-bottom: 6.4rem; }
  .photo-about__text {
    color: #1f1f1f;
    font-size: 2.8rem;
    padding-top: 4rem;
    line-height: 1.5;
    text-align: justify; }
  .photo-about__logo-img {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end; }
    .photo-about__logo-img img {
      height: 10rem; }

.photo-vision {
  padding-bottom: 6rem;
  position: relative; }
  .photo-vision::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
    content: "";
    display: block;
    z-index: -1; }
  .photo-vision__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; }
  .photo-vision__heading-text {
    color: #ffffff;
    background-color: #411a1a;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: left;
    padding: 4.8rem 0rem 4.8rem 6.4rem; }
  .photo-vision__body-text {
    color: #e2dddd;
    padding-top: 4.8rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1.5rem; }
    .photo-vision__body-text p {
      font-size: 3rem;
      text-align: center; }

.photo-events {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .photo-events__event-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; }
    .photo-events__event-imgs img {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.3s;
      padding-top: 1rem; }
    .photo-events__event-imgs img:hover {
      transform: scale(1.1); }
  .photo-events__event-img {
    overflow: hidden; }
  .photo-events__event-flier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding-top: 1rem; }
    .photo-events__event-flier img {
      display: block;
      width: 100%;
      height: 100%; }
  .photo-events__heading {
    font-size: 4rem;
    font-family: "Poppins", serif;
    text-transform: uppercase; }
  .photo-events__sub-heading {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 1rem; }

.photo-announce {
  padding-top: 1rem;
  padding-bottom: 4rem;
  background-color: whitesmoke; }
  .photo-announce__body {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; }
  .photo-announce__img img {
    display: block;
    width: 100%; }
  .photo-announce__announce-text {
    margin-top: auto;
    margin-bottom: auto; }
    .photo-announce__announce-text p {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;
      padding-top: 2rem; }

.photo-founder {
  padding: 2.4rem;
  position: relative; }
  .photo-founder::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    content: "";
    display: block;
    z-index: -1; }
  .photo-founder__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; }
  .photo-founder__founder-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem; }
  .photo-founder__founder-img {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
    .photo-founder__founder-img h1 {
      color: #ffffff;
      font-size: 4.8rem; }
    .photo-founder__founder-img img {
      display: block;
      width: 100%;
      border-radius: 10px; }
  .photo-founder__founder-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .photo-founder__founder-info p {
      font-size: 2.8rem;
      font-weight: 500;
      color: #ffffff;
      line-height: 2; }

.photo-support {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.basic-needs {
  background-color: #411a1a;
  color: #fff;
  padding: 5rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Lato", sans-serif; }

.heading {
  font-size: 6.4rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #411a1a;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  text-align: left;
  padding: 4.8rem 0rem 4.8rem 6.4rem; }

/*# sourceMappingURL=style.css.map */