.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // position: fixed;
  // background-color: rgb(235, 168, 168);
  z-index: 1;

  width: 100%;
  // height: 100%;

  max-width: 130rem;
  margin: auto;

  &__logo-img {
    display: block;
    width: 10rem;
    height: auto;
  }

  &__nav ul {
    list-style: none;
    display: flex;

    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    gap: 4rem;

    &:hover {
      color: rgb(245, 238, 238);
    }

    a {
      text-decoration: none;
      color: rgb(65, 26, 26);
    }
  }
}

.container {
  max-width: 130rem;
  margin: auto;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.hero-section {
  position: relative;

  &__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

    // opacity: 0.8;
  }
  background-color: rgba($color: #000000, $alpha: 0.2);

  &__hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
  }

  &__left-sec {
    color: #fff;
    font-size: 7rem;
    font-family: "Poppins", serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__right-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  &__logo-icon {
    height: 35rem;
  }

  &__big-logo {
    height: 17rem;
  }
}

.photo-about {
  padding-top: 2rem;
  padding-bottom: 6.4rem;

  // &__heading {
  //   color: #ffffff;
  //   background-color: rgb(65, 26, 26);
  //   border-radius: 4px;
  //   text-align: left;

  //   padding: 4.8rem 0rem 4.8rem 6.4rem;
  // }

  &__text {
    color: #1f1f1f;
    font-size: 2.8rem;
    padding-top: 4rem;
    line-height: 1.5;
    text-align: justify;
  }

  &__logo-img {
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    align-items: end;

    & img {
      height: 10rem;
    }
  }
}

.photo-vision {
  padding-bottom: 6rem;

  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: 0.7);
    backdrop-filter: blur(8px);
    content: "";
    display: block;

    z-index: -1;
  }

  &__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }

  &__heading-text {
    color: #ffffff;
    background-color: rgb(65, 26, 26);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: left;

    padding: 4.8rem 0rem 4.8rem 6.4rem;
  }

  &__body-text {
    // height: 70vh;
    // z-index: 2;
    color: rgb(226, 221, 221);
    padding-top: 4.8rem;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & p {
      font-size: 3rem;
      text-align: center;
    }
  }
}

.photo-events {
  // background-color: rgb(73, 14, 14);
  padding-top: 4rem;
  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__event-imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    & img {
      display: block;
      width: 100%;
      height: 100%;

      transition: all 0.3s;

      padding-top: 1rem;
    }

    & img:hover {
      transform: scale(1.1);
    }
  }

  &__event-img {
    overflow: hidden;
  }

  &__event-flier {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;

    padding-top: 1rem;

    & img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__heading {
    font-size: 4rem;
    font-family: "Poppins", serif;
    text-transform: uppercase;
  }

  &__sub-heading {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;

    padding-top: 1rem;
  }
}

.photo-announce {
  padding-top: 1rem;
  padding-bottom: 4rem;

  background-color: whitesmoke;

  &__body {
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  &__img {
    & img {
      display: block;
      width: 100%;
      // height: 100%;
    }
  }

  &__announce-text {
    margin-top: auto;
    margin-bottom: auto;

    & p {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.5;

      padding-top: 2rem;
    }
  }
}

.photo-founder {
  padding: 2.4rem;

  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: 0.8);
    backdrop-filter: blur(12px);
    content: "";
    display: block;

    z-index: -1;
  }

  &__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }

  &__founder-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  &__founder-img {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & h1 {
      color: #ffffff;
      font-size: 4.8rem;
      // background-color: rgb(65, 26, 26);
    }

    & img {
      display: block;
      width: 100%;
      // height: 100%;
      border-radius: 10px;
    }
  }

  &__founder-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & p {
      font-size: 2.8rem;
      font-weight: 500;
      color: #ffffff;

      line-height: 2;
    }
  }
}

.photo-support {
  background-color: whitesmoke;

  padding-top: 6rem;
  padding-bottom: 6rem;
  // margin-top: 3rem;

  // display: flex;
  // flex-direction: column;
  // gap: 4rem;

  &__support-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    // display: flex;
    // justify-content: space-between;

    & a {
      text-decoration: none;
      list-style: none;
    }
  }

  &__support-details {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__heading {
    font-size: 3rem;
    font-family: "Poppins", serif;
    background-color: rgb(65, 26, 26);
    color: #ffffff;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    padding: 1rem 0rem;

    text-align: center;
    // font-weight: normal;
  }

  &__support-steps {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__support-types {
    display: flex;
    align-items: center;
    gap: 2rem;

    & p {
      font-size: 1.8rem;
      color: rgb(65, 26, 26);
    }
  }

  &__support-icon {
    display: block;
    width: 4rem;
    height: 4rem;

    color: rgb(65, 26, 26);
  }
}

.basic-needs {
  background-color: rgb(65, 26, 26);
  color: #fff;
  border-radius: 10px;

  padding: 5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__needs-list ul {
    font-size: 1.8rem;
    list-style: none;
    line-height: 1.5;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }

  &__needs-text {
    background-color: #ffffff;
    color: rgb(65, 26, 26);
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    text-align: center;

    padding: 1rem;
    width: 20rem;
  }

  &__divider {
    width: 2rem;
    height: 100%;
    color: #ffffff;
  }
}

.photo-contact {
  padding-top: 6rem;

  display: flex;
  justify-content: center;

  & a {
    text-decoration: none;
    list-style: none;
  }

  &__contact-text {
    font-size: 2rem;
    font-family: "poppins" serif;
    background-color: rgb(65, 26, 26);
    color: #ffffff;
    border-radius: 1rem;

    cursor: pointer;

    padding: 2rem 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    width: 25rem;

    &:hover {
      background-color: rgb(121, 82, 82);
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  margin-top: auto;

  & p {
    font-size: 1.8rem;
  }
}

.contact-us {
  position: relative;

  &__back-arrow {
    display: flex;
    align-items: center;
    gap: 2rem;

    text-decoration: none;

    padding-bottom: 3rem;

    & p {
      font-size: 1.8rem;
      color: #1f1f1f;
    }
  }

  &__body {
    // position: relative;

    // &::before {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 80vh;
    //   object-fit: cover;

    //   background-color: rgba($color: #000000, $alpha: 0.4);
    //   backdrop-filter: blur(8px);
    //   content: "";
    //   display: block;

    //   z-index: -1;
    // }
  }

  &__contact-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }

  &__contact-info {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding-top: 5rem;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font-size: 2.4rem;
    // color: #ffffff;
  }

  &__contact-links {
    line-height: 2;

    & p {
      font-size: 1.8rem;
      // color: #ffffff;
    }
  }
}
